/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/01/2018, 19:21:49
    Author     : Julio
*/



body {
    background-image: url('img/bg_gray.jpg');
    background-repeat: repeat;
}